body {
 
    
    background-image: url('aaa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 1.6;
    color: #FFFFFF;/* White text color */
    font-weight: bold; /* Bold font weight */
    margin: 0;
    padding: 0;
}



body.calculator {
    background-image: url('travel3.webp'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}




header {
	font-family: 'aguafina-script';
	 background-image: url('live1.jpg');
    background-color: #3498db; 
    color: #fff; 
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #2c3e50; /* Dark navigation background color */
    color: #fff; /* White text color */
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
